body {
  font: normal 16px/1.2 Geomanist, Helvetica, Arial, sans-serif;
  margin-top: 50px;
}

form {
  width: 80%;
  margin: 10px auto;
}

dl {
  width: 100%;
  margin-bottom: 30px;
}

dl:focus {
  color: red;
}


dt {
  font-weight: 600;
  margin-bottom: 20px;
  padding-left: 15px;
  color: gray;
}

dd {
  width: calc(100% - 100px);
}

input[type="text"], button {
  box-sizing: border-box;
  font: normal 16px/1.2 Geomanist, Helvetica, Arial, sans-serif;
  height: 40px;
  border-radius: 30px;
  border: 1px solid gray;
  padding: 0 10px;
  width: 100%;
}

input[type="text"]:focus {
  border: 3px solid red;
  outline: none;
}

button {
  background-color: gray;
  color: white;
  font-weight: 700;
  margin-top: 30px;
}

button:focus {
  outline: none;
  background-color: red;
}
