* {
  margin: 0;
  padding: 0;
}

html {
  font: normal 24px Helvetica, Arial, sans-serif;
}

header, h1 {
  background-color: blue;
  color: white;
}

header {
  text-align: center;
  padding: 1rem;
}

nav {
  background-color: cyan;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
  width: auto;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:active,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
}

#aside-3 {
  background-color: pink;
}

#article-2 {
  background-color: skyblue;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
}

#copyright {
  margin: 0 1rem;
}

#logo {
  background-color: orange;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

#article-1 {
  grid-area: article-1;
}

#article-2 {
  grid-area: article-2;
}

#aside-1 {
  grid-area: aside-1;
}

#aside-2 {
  grid-area: aside-2;
}

#aside-3 {
  grid-area: aside-3;
}

footer {
  grid-area: footer;
}

body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
     "header header header header"
     "nav nav nav nav"
     "aside-1 article-1 article-1 aside-2"
     "aside-3 article-2 article-2 article-2"
     "footer footer footer footer";
}

img {
  width: 100%;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#logo {
  grid-area: logo;
}

#copyright {
  grid-area: copyright;
}

#logo img {
  display: block;
}

#copyright {
  line-height: 100%;
  text-align: right;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo copyright copyright copyright";
  align-items: center;
}
